<!DOCTYPE html>
<head>
	<meta charset="utf-8"/>
	<link rel="stylesheet" type="text/css" href="../css/foot.css"/>
</head>
<div class="foot_main">
	<div class="foot_center">
		<ul>
			<li>
				<img src="../static/image/foot1.png" alt="" />
				<h1>品牌理念</h1>
				<p>专业于建筑工程门控五金领域。</p>
			</li>
			<li>
				<img src="../static/image/foot2.png" alt="" />
				<h1>获得荣誉</h1>
				<p>经过不懈的努力，荣获各项专利证书和资质。</p>
			</li>
			<li>
				<img src="../static/image/foot3.png" alt="" />
				<h1>公司发展</h1>
				<p>公司成立于1990年，辉煌历程二十七载。</p>
			</li>
			<li>
				<img src="../static/image/foot4.png" alt="" />
				<h1>我们服务</h1>
				<p>全方位的客户服务模式：产品+服务。</p>
			</li>
		</ul>		
	</div>
</div>
<div class="foot_bottom">	
	<div class="foot_bottom_center">
		<div class="foot_logo"><h3>HL</h3></div>
		<div class="foot_info">
			<ul>
				<li>
					<i class="glyphicon glyphicon-earphone"></i>&nbsp;
					<b>热线:</b>
					<b>0755-12345678</b>
				</li>
				<li>
					<i class="glyphicon glyphicon-envelope"></i>&nbsp;
					<b>邮箱:</b>
					<b>123456789@qq.com</b>
				</li>
				<li>
					<i class="glyphicon glyphicon-map-marker"></i>&nbsp;
					<b>地址:</b>
					<b>中国广东惠州中国广东惠州中国广东惠州</b>
				</li>
			</ul>
		</div>
		<div class="foot_QR">
			<img src="../static/image/erweima.jpg"/>
		</div>
	
	</div>
	<ul class="foot_link">
		<li><a href="">首页</a></li>
		<li><a href="">走进惠利</a></li>
		<li><a href="">产品中心</a></li>
		<li><a href="">车间展示</a></li>
		<li><a href="">行业新闻</a></li>
		<li><a href="">联系我们</a></li>
	</ul>
	<p class="copyright">版权所有(C)惠州亿利五金制品有限公司　技术支持：xx科技 粤ICP备05034436号</p>
</div>