<!DOCTYPE html>
<head>
	<meta charset="utf-8"/>
	<link rel="stylesheet" type="text/css" href="../css/head.css"/>
	<script src="../js/base.js" type="text/javascript" charset="utf-8"></script>
</head>
<!--header-->
  	<header id="head_load">
  		<div class="top">
  		<div class="container-fluid same_center">
  			<div class="row" >
				<p class="hidden-xs col-sm-6 col-md-8 col-lg-8 top_title">欢迎进入惠州亿利五金制品有限公司</p>
				<p class="hidden-xs col-sm-6 col-md-4 col-lg-4 top_msg clearfix">	                
	                <a href="connect.html" class="openlink">在线地图</a>
	                <a href="connect.html" class="openlink">联系我们</a>​
                </p>
			</div>
  		</div>
  		</div>
  		<div class="middle">
  			<div class="container-fluid same_center_middle">
  				<div class="row">
	  				<div class="col-xs-12 col-sm-12 col-md-7 col-lg-8 company">
	  					<h3>HL</h3>
	  			 		<p class="company_name">
	  			 			<i>惠利五金制品有限公司</i>
	  			 			<i>HL HARDWARE PRODUCTS</i>
	  			 		</p>	  			 		
		  			</div>	 
		  			<!--<div class="hidden-xs hidden-sm hidden-md col-lg-3 slogan ">
		  				<ul>
	  						<li>诚信专一</li>
	  						<li>品质至上</li>
	  						<li>谦虚务实</li>
	  						<li>达到共赢</li>
	  					</ul>
		  			</div>-->
		  			<div class="hidden-xs hidden-sm  col-md-5 col-lg-4 tel clearfix">
	  					<div class="tel_num">
	  						<b>免费咨询热线</b>
	  						<b>0755-12345678</b>
	  					</div>
	  					<div class="glyphicon glyphicon-phone-alt tel_img"></div>
		  			</div>				
  				</div>
  			</div>
  		<div class="bottom">
  			<div class="same_center_bottom">
  					<ul class="nav_metals clearfix">
	  					<li class="nav_active"><i>首页</i></li>
	  					<li><i>走进惠利</i></li>
	  					<li><i>产品中心</i></li>
	  					<li><i>车间展示</i></li>
	  					<li><i>行业新闻</i></li>
	  					<li><i>联系我们</i></li>
  					</ul>							
  			</div>
  		</div> 			
  		</div>  		
  	</header>